{% extends "base.html" %}

{% block content %}

<article>
    <header>
        {% include "_header.html" %}
    </header>
    <section>
        {{ post.body | safe }}
    </section>
    <footer>
        <p>Share this post</p>
    </footer>
</article>
<!-- TODO article for comments -->
 <div id="comments" class="container">
    <details>
        <summary role="button" class="contrast outline">Leave a comment</summary>
        <div id="commentForm">
            {% if current_user.is_authenticated %}
            <div hx-get="{{ url_for('main.add_comment') }}" hx-swap="outerHTML" hx-trigger="load"></div>
            {% else %}
            <div hx-get="{{ url_for('auth.login') }}" hx-swap="outerHTML" hx-trigger="load"></div>
            {% endif %}
        </div>
    </details>
    <details open>
        <summary>Coments</summary>
        <p>Comming soon...</p>
    </details>
 </div>

{% endblock %}